/* ==========================================================================
   Spacing and media queries
   ========================================================================== */

/* Media queries */

$xsmall-range: (0, 768/16+em); // 0-48
$small-range: (769/16+em, 992/16+em); // 48-62
$medium-range: (993/16+em, 1200/16+em); // 62-75
$large-range: (1201/16+em); // 75
//$xlarge-range: (75em);

$screen: "only screen";

/* ==========================================================================
   Steps
   ========================================================================== */
$margin-custom-step: 5;
$padding-custom-step: 5;